<p>home works!</p>

{{result2}}
<br>

<input type="button" value="add" (click)="add()">{{result}}<br>

<!-- <input type="button" value="dividenums" (click)="dividenums()">{{result2}}<br> -->

<br>
<hr>
<h1>{{heading}}</h1>
{{a}}
{{b}}
<div [style]="bg">page content goes heere</div>



<br>
<hr>
<label>Addcss</label>
<input type="radio" name="cssAction" (change)="setcssAction('add')"><br>
<label>Remove css</label>
<input type="radio" name="cssAction" (change)="setcssAction('remove')"><br>
<input type="button" value="Add/Remove" (click)="applycss()"><br>
<div [ngClass]="cssClass">Hello  World</div>
<br>
<br>
<div [style.font-weight]="isBoldChecked ? 'bold' : 'normal'"
     [style.font-style]="isItalicChecked ? 'italic' : 'normal'"
     [style.Background-color]="iscolorChecked ? 'yellow' : 'transparent'"
     [style.color]="isTextColorChecked ? 'blue' : 'black'"
     [style.border]="isBorderColorChecked ? '2px solid red' : 'none'"
     [style.text-decoration]="isUnderlineChecked ? 'underline' : 'none'">
  HELLO ANGULAR
</div>

<label>
  <input type="checkbox" (change)="toggleStyle($event, 'bold')"> Bold
</label>
<br>

<label>
  <input type="checkbox" (change)="toggleStyle($event, 'italic')"> Italic
</label>
<br>
<label>
    <input type="checkbox" (change)="toggleStyle($event, 'background-color')"> Backgroundcolor
  </label>
  <br>
  <label>
    <input type="checkbox" (change)="toggleStyle($event, 'textColor')"> Text Color
  </label>
  <br>
<label>
  <input type="checkbox" (change)="toggleStyle($event, 'underline')"> Underline
</label>
<br>
<label>
    <input type="checkbox" (change)="toggleStyle($event, 'borderColor')"> Border Color
  </label>

  