<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> <b> <i> <h3 style="color:rgb(230, 17, 98)"> welocme to our pizza store..</h3></i></b></p>
            <p> <b> <i> <h1 style="color:rgb(230, 17, 98) ">register/login now to place an order!!!</h1></i></b></p>
           
            <div class="bg">
                    <h3 class="text-primary  bg-info">  new user ?  to register click here</h3>
               <h3> <a routerLink="/register" class="btn btn-success">register</a></h3>
               <h3 class="text-primary  bg-info">already user ! to login click here</h3>
               <h3> <a routerLink="/login" class="btn btn-success">Login</a></h3>
            </div>

            

</body>
</html>

