
<!-- router outlet acts as a placeholder to dispaly the component based on the current urlv -->

<body>
  <nav class="navbar bg-dark">
    <a href="/home"  class="nav-brand text-white nav-link">Home</a>
    <ul class="nav">
    <li><a routerLink="/home" class="nav-link">home</a></li>
    <li><a routerLink="/login" class="nav-link">login</a></li>
    <li><a routerLink="/product" class="nav-link">products</a></li>
    <li><a routerLink="/contact" class="nav-link">contact</a></li>
    <li><a routerLink="/buypage" class="nav-link">buy</a></li>
    <li><a routerLink="/register" class="nav-link">register</a></li>
    
    <li><a routerLink="/logout" class="nav-link">logout</a></li>
    
    <li><a routerLink="/parent" class="nav-link">parent</a></li>
    <li><a routerLink="/child" class="nav-link">child</a></li>
    <li><a routerLink="/lifecycle" class="nav-link">lifecycle</a></li>
    <li><a routerLink="/assignparent" class="nav-link">assignparent</a></li>
    <li><a routerLink="/assignchild" class="nav-link">assignchild</a></li>
    <li><a routerLink="/student" class="nav-link">student</a></li>

    <li><a routerLink="/rx" class="nav-link">rx</a></li>

    </ul>
    </nav>
</body>
<router-outlet></router-outlet> 