<div style="width: 500px; margin: auto; margin-top: 100px;">
    <form #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
      <div>
        <label>Full Name:</label>
        <input type="text" name="fullname" ngModel required #fullname="ngModel" class="form-control" />
        <div *ngIf="fullname.invalid && fullname.touched">Full Name is required</div>
      </div> <br>
      <div>
        <label>Email:</label>
        <input type="email" name="email" ngModel required email #email="ngModel" class="form-control" />
        <div *ngIf="email.invalid && email.touched">Valid Email is required</div>
      </div>  <br>
      <div>
        <label>Password:</label>
        <input type="password" name="password" ngModel required pattern=".{6,}" #password="ngModel" class="form-control" />
        <div *ngIf="password.invalid && password.touched">Password must be at least 6 characters</div>
      </div>  <br>
      <div>
        <label>Confirm Password:</label>
        <input type="password" name="confirmPassword" ngModel required [pattern]="password.value" #confirmPassword="ngModel" class="form-control" />
        <div *ngIf="confirmPassword.invalid && confirmPassword.touched">Passwords must match</div>
      </div>  <br>
      <div>
        <label>Gender:</label>
        <input type="radio" name="gender" value="Male" ngModel required /> Male
        <input type="radio" name="gender" value="Female" ngModel required /> Female
      </div>  <br>
      <div>
        <label>Country:</label>
        <select name="country" ngModel required>
          <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
      </div>  <br>
      <button type="submit" class="btn btn-primary" [disabled]="registrationForm.invalid" style="margin-left: 210px;">Register</button>
    </form>
  </div> 